[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-money = "*"
django-rest-framework = "*"
pyjwt = "*"
django-filter = "*"
django-rest-swagger = "*"
drf-yasg = "*"
psycopg2 = "*"
rest-framework-money-field = "*"
babel = "*"
install = "*"
django-cors-headers = "*"
django-utils-six = "*"
django-smart-selects = "*"
django = "==4.0"
mypy = "*"
django-stubs = "*"

[dev-packages]
mypy = "*"

[requires]
python_version = "3.10"
