[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-money = "*"
django-rest-framework = "*"
pyjwt = "*"
django-filter = "*"
django-rest-swagger = "*"
drf-yasg = "*"
psycopg2 = "*"
rest-framework-money-field = "*"
babel = "*"
install = "*"
django-cors-headers = "*"
django-utils-six = "*"
django = "==4.0"
mypy = "*"
django-stubs = "*"
django-smart-selects = "*"
django-autocomplete-light = "*"
drf-extra-fields = "*"
gunicorn = "*"

[dev-packages]
mypy = "*"

[requires]
python_version = "3.10"

[scripts]
start = "gunicorn --preload -b 0.0.0.0:8020 giftprojects.wsgi:application --threads 8 --workers 4"
lint = ""